<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICM - COLORADO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <!-- Navbar Setup -->
    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand text-light" href="{{ url_for('index') }}">
                SGI-COLORADO
            </a>
            <!-- Navbar toggle button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
				<span class="navbar-toggler-icon"></span>
            </button>
            <!-- Top menu in navbar -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="{{ url_for('chamada') }}">
                            Chamada
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('pesquisa') }}">
                            Pesquisa
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Sidebar Setup -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar">
        <div class="offcanvas-header">
            <img src="{{ url_for('static', filename='logo-colorado.png') }}" alt="Logo Colorado" width="100" class="logo-img mb-4">
            <h5 class="offcanvas-title text-danger">
                SGI-COLORADO
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bg-danger">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('chamada') }}">
                        Chamada
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('pesquisa') }}">
                        Pesquisa
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Content Below Navbar and Sidebar Menu -->
    <div class="container-fluid" style="padding: 30px">

        <h1 class="text-center mt-2">REGISTRAR</h1>
        <div class="form-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                 {% if messages %}
                    <div class="alert alert-danger">
                        {% for category, message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <form method="post">
                <div class="form-group row col-sm-12 mt-3">
                    <label for="nome">Membro:</label>
                    <select class="form-control" id="nome" name="nome" multiple>
                        <option>Selecione...</option>
                        {% for pessoa in nomes %}
                            <option value="{{ pessoa.id }}">{{ pessoa.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group row col-sm-12 mt-3">
                    <label for="visitante">Visitante:</label>
                    <input type="text" class="form-control" id="visitante" name="visitante">
                    <small class="form-text text-danger">Preencha todos os visitantes separados por virgula (ex: visitante 1, visitante 2...)</small>
                </div>
                <div class="form-group row col-sm-12 mt-3">
                    <label for="tipo">Tipo:</label>
                    <select class="form-control" id="tipo" name="tipo" required>
                        <option>Selecione...</option>
                        <option value="Segunda">Segunda-Feira</option>
                        <option value="Terca">Terça-Feira</option>
                        <option value="Quarta">Quarta-Feira</option>
                        <option value="Quinta">Quinta-Feira</option>
                        <option value="Sábado">Sábado</option>
                        <option value="Domingo">Domingo</option>
                        <option value="DomingoEBD">Domingo - EBD</option>
                        <option value="Madrugada">Madrugada</option>
                        <option value="jovens">Jovens</option>
                    </select>
                </div>
                <div class="form-group row col-sm-12 mt-3">
                    <label for="data">Data:</label>
                    <input type="date" class="form-control" id="data" name="data" required>
                </div>
                <div class="row col-sm-12 mt-5 align-items-center">
                    <button type="submit" class="btn btn-success btn-block">Registrar</button>
                    <a href="{{ url_for('index') }}" class="btn btn-secondary btn-block mt-2">Voltar</a>
                </div>
            </form>
        </div>

    </div>

    <!-- Include Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Define as opções para o formato de data brasileiro e fuso horário
        const options = {
            timeZone: "America/Sao_Paulo",
            year: "numeric",
            month: "2-digit",
            day: "2-digit"
        };

        // Obtém a data atual no fuso horário de São Paulo
        const now = new Date();

        // Formata a data no padrão ISO (YYYY-MM-DD)
        const today = now.toLocaleDateString("pt-BR", options).split('/');
        const formattedDate = `${today[2]}-${today[1]}-${today[0]}`;

        // Define o valor do campo de data
        document.getElementById('data').value = formattedDate;

        // Obter o dia da semana atual
        const weekDay = now.toLocaleDateString("pt-BR", { weekday: "long", timeZone: "America/Sao_Paulo" });

        // Obter a hora atual
        const currentHour = now.toLocaleString("pt-BR", { hour: "2-digit", hour12: false, timeZone: "America/Sao_Paulo" });

        // Mapear nomes dos dias para os valores do dropdown
        const dayMap = {
			"segunda-feira": "Segunda",
			"terça-feira": "Terca",
			"quarta-feira": "Quarta",
			"quinta-feira": "Quinta",
			"Domingo - EBD": "DomingoEBD",
			"Madrugada": "Madrugada",
			"sábado": "Sábado",
			"domingo": "Domingo"
        };

        // Obter o valor correspondente para o tipo
        let tipoValue = dayMap[weekDay.toLowerCase()];

        // Verificar regras especiais
        if (weekDay.toLowerCase() === "domingo" && currentHour >= 9 && currentHour < 12) {
            tipoValue = "DomingoEBD";
        } else if (currentHour >= 6 && currentHour < 7) {
            tipoValue = "Madrugada";
        }

        // Selecionar o valor no dropdown se ele existir
        const tipoSelect = document.getElementById('tipo');
        if (tipoValue) {
            tipoSelect.value = tipoValue;
        }
    });
</script>

</body>

</html>