<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICM - COLORADO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <!-- Navbar Setup -->
    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand text-light" href="{{ url_for('index') }}">
                SGI-COLORADO
            </a>
            <!-- Navbar toggle button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
				<span class="navbar-toggler-icon"></span>
            </button>
            <!-- Top menu in navbar -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="{{ url_for('chamada') }}">
                            Chamada
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('pesquisa') }}">
                            Pesquisa
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Sidebar Setup -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar">
        <div class="offcanvas-header">
            <img src="{{ url_for('static', filename='logo-colorado.png') }}" alt="Logo Colorado" width="100" class="logo-img mb-4">
            <h5 class="offcanvas-title text-danger">
                SGI-COLORADO
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bg-danger">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('chamada') }}">
                        Chamada
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('pesquisa') }}">
                        Pesquisa
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Content Below Navbar and Sidebar Menu -->
    <div class="container-fluid">

        <div class="col-md-12 mt-3 mb-3">
            <form action="{{ url_for('buscar_presencas') }}" method="GET">
                <div class="row align-items-end">
                    <div class="form-group col-md-6">
                        <label for="data" class="sr-only">Data</label>
                        <input type="date" class="form-control" id="data" name="data">
                    </div>
                    <div class="col-md-6 text-center mt-2">
                        <button type="submit" class="btn btn-danger mb-2">Buscar</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">

            <!-- Gráfico de Presenças por Grupo -->
            <div class="row">
                <div class="col">
                    <canvas id="chartPresencas"></canvas>
                </div>
            </div>

            <!-- Gráfico de Tipos de Presença -->
            <div class="row mt-4">
                <div class="col">
                    <canvas id="chartTipos"></canvas>
                </div>
            </div>

            <!-- Gráfico de Percentual por Grupo -->
            <div class="row mt-4">
                <div class="col">
                    <canvas id="chartPercentual"></canvas>
                </div>
            </div>

        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script>
        // Dados dinâmicos do Flask para os gráficos
        var presencasData = JSON.parse('{{ presencas|tojson|safe }}');
        var percentuaisGrupo = JSON.parse('{{ porcentage|tojson|safe }}');

        // Gráfico de Presenças por Grupo
        var ctxPresencas = document.getElementById('chartPresencas').getContext('2d');
        var chartPresencas = new Chart(ctxPresencas, {
            type: 'bar',
            data: {
                labels: ['Grupo A', 'Grupo B', 'Grupo C', 'Grupo D', 'Sem Grupo'],
                datasets: [{
                    label: 'Presenças por Grupo',
                    data: [
                        presencasData.filter(item => item.grupo === 'GRUPO A').length,
                        presencasData.filter(item => item.grupo === 'GRUPO B').length,
                        presencasData.filter(item => item.grupo === 'GRUPO C').length,
                        presencasData.filter(item => item.grupo === 'GRUPO D').length,
                        presencasData.filter(item => item.grupo === null).length,
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(163,163,15,0.2)',
                        'rgba(244,60,154,0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(72,207,115)',
                        'rgb(223,64,210)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        // Gráfico de Tipos de Presença
        var ctxTipos = document.getElementById('chartTipos').getContext('2d');
        var chartTipos = new Chart(ctxTipos, {
            type: 'pie',
            data: {
                labels: ['Domingo', 'Domingo - EBD', 'Quarta', 'Quinta', 'Sábado'],
                datasets: [{
                    label: 'Tipos de Presença',
                    data: [
                        presencasData.filter(item => item.tipo === 'Domingo').length,
                        presencasData.filter(item => item.tipo === 'DomingoEBD').length,
                        presencasData.filter(item => item.tipo === 'Quarta').length,
                        presencasData.filter(item => item.tipo === 'Quinta').length,
                        presencasData.filter(item => item.tipo === 'Sábado').length
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(175,81,162,0.2)',
                        'rgba(243,31,97,0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(137,188,124, 1)',
                        'rgba(60,87,184, 1)'
                    ],
                    borderWidth: 1
                }]
            }
        });

        // Gráfico de Percentual por Grupo
        var ctxPercentual = document.getElementById('chartPercentual').getContext('2d');
        var chartPercentual = new Chart(ctxPercentual, {
            type: 'pie',
            data: {
                labels: Object.keys(percentuaisGrupo),
                datasets: [{
                    label: 'Percentual por Grupo',
                    data: Object.values(percentuaisGrupo),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(72,207,115)',
                        'rgba(244,60,154,0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(72,207,115,1)',
                        'rgba(244,60,154,1)'
                    ],
                    borderWidth: 1
                }]
            }
        });

    </script>
</body>

</html>