<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICM - COLORADO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <!-- Navbar Setup -->
    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand text-light" href="{{ url_for('index') }}">
                SGI-COLORADO
            </a>
            <!-- Navbar toggle button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
				<span class="navbar-toggler-icon"></span>
            </button>
            <!-- Top menu in navbar -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="{{ url_for('chamada') }}">
                            Chamada
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('pesquisa') }}">
                            Pesquisa
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('trombetas') }}">
                            Trombetas e Festas 4
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('pesquisa_trombetas') }}">
                            Pesquisa Trombetas e Festas 4
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Sidebar Setup -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar">
        <div class="offcanvas-header">
            <img src="{{ url_for('static', filename='logo-colorado.png') }}" alt="Logo Colorado" width="100" class="logo-img mb-4">
            <h5 class="offcanvas-title text-danger">
                SGI-COLORADO
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bg-danger">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('chamada') }}">
                        Chamada
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('pesquisa') }}">
                        Pesquisa
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('trombetas') }}">
                        Trombetas e Festas 4
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('pesquisa_trombetas') }}">
                        Pesquisa Trombetas e Festas 4
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Content Below Navbar and Sidebar Menu -->
    <div class="container-fluid">

        <h1 class="text-center mb-4 mt-2">LISTA DE PRESENÇA</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
             {% if messages %}
                <div class="alert alert-success">
                    {% for category, message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}


        <form method="get" class="mb-4">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="grupo" class="sr-only">Grupo</label>
                        <select class="form-control" id="grupo" name="grupo">
                            <option value="">Todos os Grupos</option>
                            <option value="GRUPO A">Grupo A</option>
                            <option value="GRUPO B">Grupo B</option>
                            <option value="GRUPO C">Grupo C</option>
                            <option value="GRUPO D">Grupo D</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="data" class="sr-only">Data</label>
                        <input type="date" class="form-control" id="data" name="data">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="visitante" class="sr-only">Visitante</label>
                        <select class="form-control" id="visitante" name="visitante">
                            <option>Selecione...</option>
                            <option value="NAO">NÃO</option>
                            <option value="SIM">SIM</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="tipo">Tipo:</label>
                    <select class="form-control" id="tipo" name="tipo" required>
                        <option>Selecione...</option>
                        <option value="Segunda">Segunda-Feira</option>
                        <option value="Terca">Terça-Feira</option>
                        <option value="Quarta">Quarta-Feira</option>
                        <option value="Quinta">Quinta-Feira</option>
                        <option value="Sábado">Sábado</option>
                        <option value="Domingo">Domingo</option>
                        <option value="DomingoEBD">Domingo - EBD</option>
                        <option value="Madrugada">Madrugada</option>
                        <option value="jovens">Jovens</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center mt-2">
                    <button type="submit" class="btn btn-danger mb-2">Buscar</button>
                    <a href="{{ url_for('download_csv', grupo=request.args.get('grupo', ''), data=request.args.get('data', ''), visitante=request.args.get('visitante', ''), tipo=request.args.get('tipo', '')) }}" class="btn btn-danger mb-2">Download</a>
                    <a href="{{ url_for('pesquisa') }}" class="btn btn-warning mb-2 ml-2">Limpar</a>
                </div>
            </div>
        </form>

        <div style="height: 400px; overflow-y: auto;">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Grupo</th>
                        <th>Data</th>
                        <th>Tipo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                     {% for presenca in presencas %}
                        <tr>
                            <td>{{ presenca['id'] }}</td>
                            <td>
                                {% if presenca['nome'] %}
                                    {{ presenca['nome'] }}
                                {% endif %}
                                {% if presenca['nome_visitante'] %}
                                    {{ presenca['nome_visitante'] }}
                                {% endif %}
                            </td>
                            <td>
                                {% if presenca['grupo'] %}
                                    {{ presenca['grupo'] }}
                                {% endif %}
                                {% if presenca['nome_visitante'] %}
                                    -
                                {% endif %}
                            </td>
                            <td>{{ presenca['data'] }}</td>
                            <td>{{ presenca['tipo'] }}</td>
                            <td>
                                <form method="post" action="{{ url_for('delete_presenca', presenca_id=presenca['id']) }}" onsubmit="return confirm('Tem certeza que deseja excluir esta presença?');">
                                    <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row col-sm-12">
            <div class="text-center mt-3 col-sm-4" style="color: #dc3545; font-size: 20px; font-weight: bold">
                <p>TOTAL: {{ presencas|length }}</p>
            </div>
            <div class="text-center mt-3 col-sm-4" style="color: #1058e6; font-size: 20px; font-weight: bold">
                <p>CIAs: {{ count_cias }}</p>
            </div>
            <div class="text-center mt-3 col-sm-4" style="color: #dc3545; font-size: 20px; font-weight: bold">
                <p>MEMBRO(S): {{ count_membro }}</p>
            </div>
            <div class="text-center mt-3 col-sm-4" style="color: #dc3545; font-size: 20px; font-weight: bold">
                <p>VISITANTE(S): {{ count_visitante }}</p>
            </div>
        </div>


    </div>

    <!-- Include Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Define as opções para o formato de data brasileiro e fuso horário
        const options = {
            timeZone: "America/Sao_Paulo",
            year: "numeric",
            month: "2-digit",
            day: "2-digit"
        };

        // Obtém a data atual no fuso horário de São Paulo
        const now = new Date();

        // Formata a data no padrão ISO (YYYY-MM-DD)
        const today = now.toLocaleDateString("pt-BR", options).split('/');
        const formattedDate = `${today[2]}-${today[1]}-${today[0]}`;

        // Define o valor do campo de data
        document.getElementById('data').value = formattedDate;

        // Obter o dia da semana atual
        const weekDay = now.toLocaleDateString("pt-BR", { weekday: "long", timeZone: "America/Sao_Paulo" });

        // Obter a hora atual
        const currentHour = now.toLocaleString("pt-BR", { hour: "2-digit", hour12: false, timeZone: "America/Sao_Paulo" });

        // Mapear nomes dos dias para os valores do dropdown
        const dayMap = {
			"segunda-feira": "Segunda",
			"terça-feira": "Terca",
			"quarta-feira": "Quarta",
			"quinta-feira": "Quinta",
			"Domingo - EBD": "DomingoEBD",
			"Madrugada": "Madrugada",
			"sábado": "Sábado",
			"domingo": "Domingo"
        };

        // Obter o valor correspondente para o tipo
        let tipoValue = dayMap[weekDay.toLowerCase()];

        // Verificar regras especiais
        if (weekDay.toLowerCase() === "domingo" && currentHour >= 9 && currentHour < 12) {
            tipoValue = "DomingoEBD";
        } else if (currentHour >= 6 && currentHour < 7) {
            tipoValue = "Madrugada";
        }

        // Selecionar o valor no dropdown se ele existir
        const tipoSelect = document.getElementById('tipo');
        if (tipoValue) {
            tipoSelect.value = tipoValue;
        }
    });
</script>

</body>

</html>